{% extends 'base.html' %}

{% block content %}
  <form action="" method="post">{% csrf_token %}
    <h4>Are you sure you want to delete task "{{ task.task_name }}"?</h4>
    {{ form.as_p }}
    <input type="submit" value="Confirm">
  </form>
{% endblock content %}