{% extends 'base.html' %}

{% block content %}
  {% for task in tasks %}
    <div class="task mb-4">
      <div class="task-body">
        <h4 class="task-title">
          <a href="{{task.id}}/">{{ task.task_name }}</a>{% if task.done %} -> Done!{% endif %}
        </h4>
      </div>
    </div>
  {% endfor %}
  <p><a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to home</a></p>
{% endblock content %}