{% extends 'base.html' %}

{% block content %}
  <div class="task mb-4">
    <div class="task-body">
      <h4 class="task-title">{{ task.task_name }}</h4>
        <p class="task-text">{{ task.create_date }}</p>
          {% if task.done %}
          <h6 class="task-subtitle mb-2 text-muted">Done! {{ task.done_date }}</h6>
          {% endif %}
    </div>
    <p>
      <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to home</a>
      <a href="change/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Update task!</a>
      <a href="delete/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete task!</a>
    </p>
  </div>
{% endblock content %}