{% extends 'base.html' %}

{% block content %}
  {% for task in tasks %}
    <div class="task mb-4">
      <div class="task-body">
        <h4 class="task-title">
          <a href="tasks/{{task.id}}/">{{ task.task_name }}</a>
        </h4>
      </div>
    </div>
  {% endfor %}
  <p><a href="/tasks" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to full tasklist</a></p>
{% endblock content %}